<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cheDianZhang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C625CC611F53D29600CC3E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C625CC7A1F53D29600CC3E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C625CC851F53D29600CC3E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
